

body{
    background-color: rgb(18, 20, 74);
    color: #e2e2e2;
    height:auto;
    min-height:100vh;
}
/* Container styling */
.container {
    font-family: 'Roboto';
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
}


